# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.egg
*.pyc

# Environments
.env
.venv/
ENV/
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# BigQuery
*.json

*.toml